body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  list-style-type: none;
}

.game {
  flex-direction: row;
  width: 100%;
  height: 50em;
  text-align:center;
  float:left;
  // background-color: red;
}

.game-board {
  display: inline-block;

}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.grid {
  margin:0 auto!important;
  width: 270px;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 11rem;
 
  line-height: 90px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  cursor: pointer;
  color: rgba(0,0,0, .7);

}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: lightgrey;
}

.square:active {
  background-color: white;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {

}

.players {
  font-size: 1.5em;
}

.now {
  color:green;
  margin: 0;
}

.next {
  margin-top:10px;
  color: grey;

}

.status {
  margin: 1rem 0 2.5rem 0;
  color:lightgray;
  font-size: 2.5em;
  color: rgba(0,0,0, .7);
}

.finish {
  display:none;
}

.moves {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: -20px;
    width: 200px;
    cursor: pointer;
}

.reload {
  border-radius: 30%;
  outline: none;
  padding: 1rem;
  margin: 2.5rem 0 1rem 0;
  font-size: 1rem;
  //font-weight: bold;
}